{% extends 'formbase.html' %}

{% block title %}
Regster
{% endblock title %}
{% block titlepage %}
Regster
{% endblock titlepage %}
{% block input %}
<input class="f1" type="email" name="email" id="email" placeholder="email"><br>
<input class="f1" type="text" name="nickname" id="nickname" placeholder="nickname"><br>
<input class="f1" type="password" name="password" id="password" placeholder="password"><br>
<input class="f1" type="submit" value="Войти"><br>
<p style="color: red">{{ mes }}</p>
{% endblock input %}